main {
    flex: 1 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html, body{ 
    height: 100%; /* Make sure html and body take up the full viewport height */
    margin: 0;     /* Remove default margins */
}









/* Login page styling */
body.login-page {
    background-color: #faac4d; /* Set the background color to orange */
}

#hero { /* center the login section */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure the section takes up full viewport height */
    overflow: hidden;
}
  
#login-form { /* login form container styling */
    font-family: 'Verdana', sans-serif; 
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px; 
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    width: 25vw; 
    height: 40vh; 
    max-width: 300px; 
    max-height: 500px; 
    margin: 0 auto;
}
  
#login-form h2 {
    margin-bottom: 20px;
}
  
#login-form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #3d3d3d;
}
  
#login-form input[type="text"], 
#login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in the total width */
    margin-bottom: 15px;
}

#login-form input::placeholder {
    color: #c2c2c2;
}
  
#login-form button {
    background-color: #6c9666; /* Green */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
#login-form button:hover {
    background-color: #3e8e41; /* Darker green on hover */
    transition: background-color 0.5s ease-in-out, color 0.4s ease-in-out, box-shadow 0.5s ease-in-out;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); 
}
  
/* Center the error message */
#error-message {
    font-family: 'Verdana', sans-serif; 
    color: #80111c;
    text-align: center;
    margin-top: 10px;
    padding: 10px; 
    background-color: rgba(198, 54, 54, 0.2); 
    border-radius: 5px; 
    opacity: 0;
    transition: opacity 0.6s ease;
} 

#error-message.show { 
    opacity: 1;
} 









/* Basic nav bar styling */
header {
    position: relative;
    z-index: 2;
}

nav ul {
    list-style: none; /* remove bullet points */
    margin: 0;
    padding: 0;
    background-color: #333; /* dark background */
    overflow: hidden; /* clear floats */
}

nav li {
    float: left; /* make list items float horizontally */
}

nav li a {
    display: block;
    color: #e9e9e9;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.5s ease-in-out;
}

nav li a:hover {
    background-color: #111; /* darker background on hover */
    transition: background-color 0.5s ease-in-out;
}

nav ul li:last-child { /* Gets it to the right most side of the nav bar */
    float: right;
}

nav ul li:last-child a:hover { 
    background-color: #80111c; 
    color: white;
}









/* home page styling */  
#hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire container while maintaining aspect ratio */
    z-index: -1;        /* Place the video behind other content */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.hero-content {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1; /* content is above the video */
}

.welcome,
.booking-message {
    font-family: 'Verdana', sans-serif;
    margin-top: -40px;
    font-size: 50px;
    color: #fff;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transitions */
}

.welcome.show {
    opacity: 1;
    transform: translateX(-50px); /* Slide in from the left */
    color:#faac4d;
}

.booking-message.show {
    opacity: 1;
    transform: translateX(50px); /* Slide in from the right */
    margin-top: -30px;
}

.vertical-bar {
    width: 3px;
    height: 120px;
    background-color: #fff;
    margin: 0 20px; /* Add spacing around the bar */
    margin-top: -75px;
    opacity: 0;
    transition: opacity 0.3s ease; /* Smooth fade-in for the bar */
}

.vertical-bar.show {
    opacity: 1;
}
  








/* Footer styling */
footer {
    text-align: center;
    position: absolute;  
    bottom: 0;          
    width: 100%;         
    padding: 10px 0;   
}
  
footer p {
    color: #807c73;  
    font-family: 'Verdana', sans-serif;
    margin: 0;
    font-size: 10px;
}
